<div class="container-fluid">
  <div class="d-flex justify-content-between" style="margin-top: 10px;">
    <div class="dropdown">
      <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">
        Select source
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div style="margin-right: 5px;">
        <input class="form-control" id="myInput" type="text" placeholder="Type your text...">
      </div>
      <div>
        <button type="button" class="btn btn-outline-primary">Filter</button>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success" style="align-self: flex-end;">Add article</button>
    </div>
  </div>
</div>
