<div class="container-fluid">
  <div class="d-flex justify-content-between" style="margin-top: 10px;">
    <div></div>
    <div class="d-flex justify-content-center">
      <div style="margin-right: 5px;">
        <input class="form-control" id="myInput" type="text" placeholder="Type your text..." [(ngModel)]="filter.text">
      </div>
      <div>
        <button type="button" class="btn btn-outline-primary" (click)="filterSearch()">Filter</button>
      </div>
    </div>
    <div>
      <button routerLink="/create" type="button" class="btn btn-outline-success" style="align-self: flex-end;">Add article</button>
    </div>
  </div>
</div>

<div class="container">

  <div class="list-group" style="margin-top: 10px;">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let p of articles">
      <div class="row" style="height: 100px">
        <div class="col-2 my-auto">
          <img [src]="p.sourceUrl" class="rounded" alt="Cinque Terre"
               style="width: 100px;">
        </div>
        <div class="col-8">
          <h5 class="mb-1">{{p?.heading}}</h5>
          <p class="mb-1">{{p?.shortDescription}}</p>
        </div>
        <div class="col-2">
          <div class="d-flex justify-content-end">
            <p class="text-muted align-items-end">{{p?.date | date}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

